[Unit]
Description=daphne daemon for TscSwap
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/swap
ExecStart=/root/swap/venv/bin/daphne -b 0.0.0.0 -p 8001 TscSwap.asgi:application

[Install]
WantedBy=multi-user.target
